project:
  type: website

website:
  # title: "website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - cv.qmd
      - publications.qmd
      - about.qmd

format:
  html:
    theme:
      light: 
        - cosmo
        - brand
      dark: 
        - solar
        - brand
    css: styles.css
    toc: true



